.button {
  /* background: red; */
  margin: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button i, em {
  font-size: 500%;
}

.fa-chess-pawn {
  position: relative;
  bottom: 7px;
}

@media only screen and (max-width: 600px) {
  .button {
    margin: 20px;
    height: 45px;
    width: 45px;
  }
}