.button {
  background: red;
  margin: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  
}

@media only screen and (max-width: 600px) {
  .button {
    margin: 20px;
    height: 45px;
    width: 45px;
  }
}