.container {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: calc(100vw - 160px);
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
}

.firstname {
  padding-top: 6px;
  width: 100%;
}

.lastname-abridged1 {
  display: none;
}

.lastname-abridged2 {
  display: none;
}

.welcome-message {
  height: calc(100% - 366px);
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 80px 0 0 0;
}

.welcome-message p {
  /* margin: 20px; */
  font-size: 30px;
  color: var(--dark-gray);
  font-weight: 100;
}

.welcome-message a {
  text-decoration: none;
  color: var(--notdodgerblue);
}


/* FIRST NAME COLOURS */

.firstname span:nth-child(1) {
  color: var(--sunflower);
  padding-right: 20px;
}

.firstname span:nth-child(2) {
  color: var(--trump);
  transform: rotate(45deg);
  position: relative;
  bottom: 12px;
}

.firstname span:nth-child(3) {
  color: var(--dark-red);
  padding-left: 5px;
}

.firstname span:nth-child(4) {
  color: var(--fire-engine);
}

/* LAST NAME COLOURS */

.lastname span:nth-child(1) {
  color: var(--sunflower);
}

.lastname span:nth-child(2) {
  color: var(--fire-engine);
}

.lastname span:nth-child(3) {
  color: var(--trump);
}

.lastname span:nth-child(4) {
  color: var(--dark-red);
}

.lastname span:nth-child(5) {
  color: var(--hungry-caterpillar);
}

.lastname span:nth-child(6) {
  color: var(--sunflower);
}

.lastname span:nth-child(7) {
  color: var(--fire-engine);
}

.lastname span:nth-child(8) {
  color: var(--trump);
}



/* MEDIA QUERIES: TABLET */

@media only screen and (max-width: 1135px) {
  
  .container {
    background: green;
  }
  
  .content {
    width: calc(100vw - 120px);
    height: calc(100vh - 120px);
  }
  
  .letters {
    width: 100%;
    height: 375px;
    display: flex;     
    flex-direction: column;
  }

  .firstname {
    /* padding: 0; */
    display: flex;
    justify-content: center;  
  }
  
  .lastname {
    display: none;
  }

  .lastname-abridged1 {
    display: flex;
    justify-content: center;
  }
  
  .lastname-abridged2 {    
    display: flex;
    justify-content: center;
  }

  .welcome-message {
    background: dodgerblue;
    width: 100%;
  }

  /* add separator between p */

}

/* MEDIA QUERIES: MOBILE */

@media only screen and (max-width: 600px) {
  .container {
    background: red;
  }
}