@import 'home.css';
@import 'about.css';
@import 'projects.css';
@import './contact.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');


:root {
  /*  colours  */
  --notdodgerblue: #0094F8;
  --fire-engine: #ED0000;
  --dark-red: #98001D;
  --trump: #FB8400;
  --sunflower: #FED600;
  --hungry-caterpillar: #008C00;
  --dark-gray: #81726F;
  --gray: #BEA6A0;
}

* {
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

