.container {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: calc(100vw - 160px);
  height: calc(100vh - 160px);
  height: auto;
  display: flex;
  flex-direction: column;
}

.projects {
  position: relative;
  right: 20px;
}

.two-lines-first, .two-lines-second {
  display: none;
}

.project-tiles {
  /* background: lightgreen; */
  width: 100%;
  height: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* COLOURS FOR DESKTOP */

.projects span:nth-child(1) {
  color: var(--sunflower);
  padding-right: 20px;
  /* position: relative:
  left: 10px; */
}

.projects span:nth-child(2) {
  color: var(--trump);
  padding-right: 15px;
}

.projects single-line span:nth-child(3) {
  color: var(--dark-red);
  transform: rotate(45deg);
  position: relative;
  bottom: 12px;
}

.projects span:nth-child(4) {
  color: var(--hungry-caterpillar);
}

.projects span:nth-child(5) {
  color: var(--fire-engine);
  padding-left: 5px;
}

.projects span:nth-child(6) {
  color: var(--sunflower);
  padding-left: 5px;
}

.projects span:nth-child(7) {
  color: var(--trump);
}

.projects span:nth-child(8) {
  color: var(--dark-red);
}

/* COLOURS FOR TABLET & MOBILE  */

.projects .two-lines-first span:nth-child(1) {
  color: var(--sunflower);
  padding-right: 20px;
}

.projects .two-lines-first span:nth-child(2) {
  color: var(--trump);
  padding-right: 15px;
}

.projects .two-lines-first span:nth-child(3) {
  color: var(--hungry-caterpillar);
  transform: rotate(45deg);
  position: relative;
  bottom: 12px;
}

.projects .two-lines-first span:nth-child(4) {
  color: var(--fire-engine);
}

.projects .two-lines-second span:nth-child(1) {
  color: var(--dark-red);
  padding-left: 5px;
}

.projects .two-lines-second span:nth-child(2) {
  color: var(--fire-engine);
}

.projects .two-lines-second span:nth-child(3) {
  color: var(--sunflower);
  padding-left: 5px;
}

.projects .two-lines-second span:nth-child(4) {
  color: var(--trump);
}


/*  Media Query: Tablet  */

@media only screen and (max-width: 1135px) {
  
  
  .content {
    width: calc(100vw - 120px);
    height: calc(100vh - 120px);
    /* height: auto; */
  }
  
  .single-line {
    display: none;
  }
  
  .projects {
    width: 100%;
    height: 250px;
    display: flex;     
    flex-direction: column;
  }

  .two-lines-first, .two-lines-second {
    display: flex;
    justify-content: center;
    /* padding-right: 15px;   */
  }

  .project-tiles {
    width: 100%;
    height: calc(100% - 250px);
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .tile:nth-child(n+3) {
    display: none;
  }

}


/* MEDIA QUERY: MOBILE */

@media only screen and (max-width: 600px) {

  .content {
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
  }
  
  .projects {
    width: 100%;
    height: 174px;
    display: flex;     
    flex-direction: column;
  }

  .project-tiles {
    height: calc(100% - 174px);
  }

  .tile:nth-child(n+2) {
    display: none;
  }
}