.tile {
  background: red;
  width: 260px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-stack {
  display: flex;

  justify-content: space-evenly;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
}